<div id="sticky" class="container">
    <nav id="left" class="col-3 container-center">
        <img id="img-header" src="assets/img/icon_man.png" alt="">
        <h4 class="txt-header"><a class="button" routerLink="/" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Romain So</a></h4>
    </nav>
    <nav id="right" class="col-9 container-center">
        <li><a class="button" href="#compétences"><h4 class="txt-header">Compétences</h4></a></li>
        <hr>
        <li><a class="button" href="#projets"><h4 class="txt-header">Projets</h4></a></li>
        <hr>
        <li><a class="button" href="#experiences"><h4 class="txt-header">Expériences</h4></a></li>
        <hr>
        <li><a class="button" href="#apropos"><h4 class="txt-header">À propos</h4></a></li>
    </nav>
</div>