<div class="container" id="page">
    <div id="page-gauche">
        <nav class="col-1">
            <ul>
                <li id="" class="container img-comp" (click)="changetab(1)"><img class="icon-nav"src="assets/img/icone_all.png" alt=""><p class="txt-header">Tous</p></li>
                <li id="" class="container img-comp" (click)="changetab(2)"><img class="icon-nav"src="assets/img/icone_3D.png" alt=""><p class="txt-header">3D</p></li>
                <li id="" class="container img-comp" (click)="changetab(3)"><img class="icon-nav"src="assets/img/icone_dev.png" alt=""><p class="txt-header">Développement</p></li>
                <li id="" class="container img-comp" (click)="changetab(4)"><img class="icon-nav"src="assets/img/icone_montage.png" alt=""><p class="txt-header">Montage</p></li>
                <li id="" class="container img-comp" (click)="changetab(5)"><img class="icon-nav"src="assets/img/icone_design.png" alt=""><p class="txt-header">Design</p></li>
            </ul>
        </nav>
    </div>
    
    <div [ngSwitch]="tab" id="page-doite" class="col-11">
        <app-projectpage *ngSwitchCase=""></app-projectpage>
        <app-projectpage *ngSwitchCase="1"></app-projectpage>
        <app-project3d *ngSwitchCase="2"></app-project3d>
        <app-projectdev *ngSwitchCase="3"></app-projectdev>
        <app-projectmontage *ngSwitchCase="4"></app-projectmontage>
        <app-projectdesign *ngSwitchCase="5"></app-projectdesign>
    </div>
</div>