<div class="container container-center column">
    <ul class="container column list-projects">
        <li *ngFor="let projet of projetListDesign">
            <div (click)="goToProjet(projet)" class="project row">
                <div class="col-3 project-3">
                <img src="{{projet.imgSrc}}" alt="" class="img-project">
                <section></section>
            </div>
            <div class="col-9 presentation-container">
                <div class="text-presentation">
                    <h4>{{projet.nom}}</h4>
                    <p>Logiciel(s) utilisé(s): {{projet.technologie}}</p>
                </div>
                <div class="type">
                    <div><img src="/assets/img/icone_design.png" alt=""><p class="txt-tertiary">Design</p></div>

                </div>
            </div>
        </div>
        </li>
    </ul>
</div>

