<div id="competence-presentation" class="container">
    <div class="col-4 container-center"><img src="assets/img/icone_3D.png" alt=""></div>
    
    <div class="col-8"><h1 class="title">3D
    </h1>
        <h4 class="txt-competence">J’ai d’abord appris les bases de la modélisation sur 3DS Max puis sur Cinema 4D. Aujourd’hui, 
            j’utilise Blender pour tous mes projets 3D. J’utilise Unity lorsque j’ai besoin de créer des jeux vidéos.
        </h4>
        <h3 class="titre-logiciel">Logiciels maîtisés:</h3>
        <div class="container-center" id="img-container">
            <img src="assets/logos/blender.png" alt="">
            <img src="assets/logos/c4d.png" alt="">
            <img src="assets/logos/3dsmax.png" alt="">
            <img src="assets/logos/unity.png" alt="">

        </div>
        <button class="btn-full" id="button-project" (click)="goToProjects(2)">Voir projets</button>
    </div>
</div>