<div id="competence-presentation" class="container">
    <div class="col-4 container-center"><img src="assets/img/icone_montage.png" alt=""></div>
    
    <div class="col-8"><h1 class="title">Montage
    </h1>
        <h4>De Premiere Pro à DaVinci Resolve, en passant par Cap Cut, j’ai appris à maîtriser plusieurs logiciels car ils possèdent chacun leurs avantages. Je suis aussi capable de créer un film en motion design avec After Effect.</h4>
        <h3 class="titre-logiciel">Logiciels maîtisés:</h3>
        <div class="container-center" id="img-container">
            <img src="assets/logos/Pr.png" alt="">
            <img src="assets/logos/ae.png" alt="">
            <img src="assets/logos/DaVinciResolve.png" alt="">
            <img src="assets/logos/CapCut.png" alt="">
        </div>
        <button class="btn-full" id="button-project" (click)="goToProjects(4)">Voir projets</button>
    </div>
</div>